* {
	margin: 0;
    padding: 0;
}

.page_container {
	max-width: 1980px;
	min-height: 100vh;
	margin: 0 auto;
	display: grid;
	grid-template-rows:auto 1fr auto; 
}

header {
	display: flex;
	justify-content: space-between;
}

main {
	
}

footer {
	
}

.logo {
	flex-grow: 1;
	flex-basis: 0;
}
.logo_img {
	width: 194px;
	height: auto;
}

.title {
	flex-grow: 1;
	flex-basis: 0;
	text-align: center;
}

.hrder-menu {
	flex-grow: 1;
	flex-basis: 0;
}